:root {
    --navy: #003d5b;
    --blue: #30638e;
    --teal: #00798c;
    --red: #d1495b;
    --yellow: #edae49;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--teal);
    font-family: 'Abril Fatface', cursive;
}

header {
    background-color: var(--navy);
    color: white;
    padding: 25px;
}

h1 {
    font-size: 50px;
}

li {
    list-style-type: none;
    display: inline-block;
    font-size: 30px;
}

ul li a {
    color: white;
    text-decoration: none;
    background-color: var(--yellow);
}

#main-image img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 30%;
}

#floating-subtitles {
    background-color: var(--yellow);
    position: 
}

#about-me h1 {
    justify-content: flex-end;
    background-color: salmon;
}