:root {
    --blue: #445877;
    --teal: #92ccce;
    --grey: #31343d;
    --dark: #1c1d21;
    --light: #eeeef7;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
    font-family: 'Abril Fatface', cursive;
}

header {
    background-color: var(--grey);
    color: white;
    padding: 10px;
    min-width: 100vw;
}

h1 {
    font-size: 45px;
    display: inline-block;
    background-color: var(--teal);
    color: var(--grey);
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

header li {
    margin: 0 5px;
    border-style: none none solid none;
    border-width: medium;
    border-color: var(--teal);
}

header a {
    color: var(--teal);
    text-decoration-line: none;
    padding: 10px;
    font-size: 20px;
}

#main-image img {
    width: 100vw;
    height: 30vh;
    object-fit: cover;
    object-position: 50% 30%;
}

#floating-subtitles {
    background-color: var(--teal);
    color: var(--grey);
    font-size: 30px;
}

main {
    color: var(--blue);
    margin: 0 75px;
}

main h2 {
    font-size: 50px;
    width: 30vw;
}

main p {
    width: 70vw;
}

#contact-me ul {
    width: 70vw;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#about-me, #contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}